*{
  padding: 0px;
  margin: 0px;
}
#container1{
  background:url('http://getwallpapers.com/wallpaper/full/a/0/e/954542-full-size-supercar-wallpaper-hd-2560x1440-for-xiaomi.jpg');
  margin: 0px auto;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background-size: auto;
}

#container{
  display: flex;
  justify-content: space-around;
}

header{
  margin: 50px;
}

#messages{
  text-align: center;  
  display: inline-block;
}