<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell your Car</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sell.css' %}">
  </head>
  <body>
    <a href="/cars"><button>Go Back</button></a>
    <div class="sell">
      {% if messages %}
      <ul class="messages">    
      {% for message in messages %}    
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
      </ul>
      {% endif %}
      <div class="sell-form">
        <form action="/post_car" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <h3>Title:</h3>
          <input type="text" name="title" placeholder="Title"/><br>
          <h3>Description:</h3>
          <input type="text" name="desc" placeholder="Description"/><br>
          <h3>Make:</h3>
          <input type="text" name="make" placeholder="Make"/><br>
          <h3>Model:</h3>
          <input type="text" name="model" placeholder="Model"/><br>
          <h3>Year:</h3>
          <input type="text" name="year" placeholder="Year"/><br>
          <h3>Mileage:</h3>
          <input type="text" name="mileage" placeholder="Mileage"/><br>
          <h3>Price:</h3>
          <input type="number" step="0.01" name="price" placeholder="Price" /><br>
          <h3>Is this car salvaged?</h3>
          <select name="salvage">
            <option value="False">No</option>
            <option value="True">Yes</option>
          </select><br>
          <h3>Image:</h3>
          <input type="file" name="image"/><br>
          <input type="submit" value="Submit" class="submit-button"/><br>
      </form>
    </div>
  </div>
</body>
</html>